
/*Welcome Template*/
#welcome-title {
  text-align: left;
  margin-top: 5%;
  margin-left: 25%;
  color: #336BFF;
  font-family: 'Merriweather Sans', sans-serif;
}

#heart_image {
  margin-left: 30%;
  margin-top: 1%;
  height: 50%;

}

/*About Template*/

#about_title {
  color: #336BFF;
  font-family: 'Merriweather Sans', sans-serif;
}
