{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
<div class="container">
  <div class ="row">
    <div class="col-md-6">
        <h1><strong>Gabriela Choy</strong></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7">
        <p>I'm a Web Developer professional that works with MEAN, MERN, Ruby On Rails, Python-Django technology stacks. With experience in time series trend analysis and forecasting, prediction modelling and Big Data frameworks such as Spark</p>
    </div>
  </div>
</div>
{% endblock %}
