{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2><a href="{% url 'reviews:therapist_detail' review.therapist.id %}">{{ review.therapist.name }}</a></h2>
{% endblock %}

{% block content %}
<h4>Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h4>
<p>{{ review.pub_date }}</p>
<p>{{ review.comment }}</p>


<form action="{% url 'reviews:edit_review' review.id review.user_name %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!--<input type="submit" value="Edit" />-->
    {% buttons %}
    <button type="submit" value = "Edit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} Edit
    </button>
    {% endbuttons %}

</form>
{% endblock %}
